fastapi
uvicorn[standard]
python-dotenv
pydantic
pydantic-settings
langgraph
langchain
langchain-core
langchain-mistralai
langchain-community
tavily-python
google-genai
python-multipart
psycopg2-binary